@import url("multi-bar-icon/multi-bar-icon.css");
.multi-bar {
    clear: both;
}
.multi-bar-content{
    position:relative;
    font-family:Arial;
    /* Code for activate initial animation of the multi-bar
    width:0px;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    -ms-transition: 0.5s linear;*/
}
.multi-bar-content.yes-legend{
    width:68%;
    margin:0% 1%;
    float:left;
}
.multi-bar-box {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
}
.multi-bar-big .multi-bar-box{
    height: 30px;
}
.multi-bar-small .multi-bar-box{
    height: 10px;
}
.multi-bar-bar {
    background-color: transparent;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}
.multi-bar-box.reverse .multi-bar-bar{
    float:right;
}
.multi-bar-value-content {
    position: relative;
    height: 12px;
}
.multi-bar-value-box {
    font-size: 12px;
    line-height: 10px;
    float: left;
    text-align: right;
}
.multi-bar-value-box-hidden .multi-bar-value-box, .multi-bar-value-box.hidden{
    visibility:hidden;
}
.multi-bar-value-content.reverse .multi-bar-value-box{
    float:right;
    text-align: left;
}
.multi-bar-value{
    position: relative;
    right: -5px;
}
.multi-bar-value-content.reverse .multi-bar-value {
    left: -5px;
    position: relative;
}
.multi-bar-initVal {
    font-size: 14px;
    left: -4px;
    line-height: 10px;
    position: absolute;
    font-weight: bold;
}
.multi-bar-value-content.reverse .multi-bar-initVal{
    right: -4px;
    left: auto;
}
.multi-bar-lastVal {
    font-size: 14px;
    line-height: 10px;
    position: absolute;
    right: -4px;
    font-weight: bold;
}
.multi-bar-value-content.reverse .multi-bar-lastVal{
    left: -4px;
}
.multi-bar-marker-content {
    height: 30px;
    position: relative;
}
.multi-bar-marker-content.inside {
    top:13px;
}
.multi-bar-marker {
    font-size: 14px;
    line-height: 14px;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    width: 30px;
    transition:0.3s linear;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -o-transition:0.3s linear;
    -ms-transition:0.3s linear;
}
.multi-bar-marker-content.reverse .multi-bar-marker{
    margin-right: -15px;
}
.multi-bar-marker-tooltip {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin-left: -45px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -27px;
    width: 80px;
}

.multi-bar-legend-box {
    font-family: Arial;
    font-size: 12px;
    margin: 0% 1%;
    float:left;
}
.multi-bar-legend-title {
    border-bottom: 1px solid;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 3px;
    text-align: center;
}
.multi-bar-legend-item {
    border-bottom: 1px solid #444;
    margin-bottom: 2px;
}

/* css thermometer type */
.multi-bar.thermometer .multi-bar-content {
    padding-left: 45px;
    padding-right: 6px;
}
.multi-bar-small.multi-bar.thermometer .multi-bar-content {
    padding-left: 37px;
    padding-right: 4px;
}
.multi-bar-big.multi-bar.thermometer .multi-bar-content {
    padding-left: 54px;
    padding-right: 8px;
}
.multi-bar.thermometer .multi-bar-box{
    border:6px solid #ccc;
    border-left:none;
    border-right:none;
    border-radius:0px;
    position: relative;
    z-index: 1;
}
.multi-bar-small.multi-bar.thermometer .multi-bar-box{
    border:4px solid #ccc;
    border-left:none;
    border-right:none;
    border-radius:0px;
}
.multi-bar-big.multi-bar.thermometer .multi-bar-box{
    border:8px solid #ccc;
    border-left:none;
    border-right:none;
    border-radius:0px;
}
.thermometer_init {
    background:#f5f5f5;
    border: 6px solid #ccc;
    border-radius: 28px;
    bottom: 5px;
    height: 45px;
    left: 0;
    position: absolute;
    width: 40px;
}
.multi-bar-big .thermometer_init{
    height: 56px;
    border: 8px solid #ccc;
    border-radius: 36px;
    width: 48px;
    bottom:5px;
}
.multi-bar-small .thermometer_init{
    height: 34px;
    width: 34px;
    border: 4px solid #ccc;
    bottom: 5px;
}
.thermometer_end {
    border-radius: 3px;
    border-right: 6px solid #ccc;
    bottom: 17px;
    height: 32px;
    position: absolute;
    right: 0;
}
.multi-bar-big .thermometer_end{
    height: 46px;
    border-right: 8px solid #ccc;
}
.multi-bar-small .thermometer_end{
    height: 18px;
    border-right: 4px solid #ccc;
}